@media screen and (max-width: 480px){
#contador{
	display: none;
}
.franjaBuscador{
 	display: none;
 	width: 300px;
 	height: 50px;
 	background-color: rgba(255,255,255,1);
 	position: fixed;
 	bottom: 110px;
 	right: 60px;
 	padding: 0 20px;
 	font-size: 16px;
 }
 .franjaBuscador:hover{
 	background-color: rgba(255,255,255,0.8);
 }
 .buscando{
 	display: block;

 }
/*++++++++++++++++MENU HAMBURGUESA+++++++++++++++*/
.check{
	width: 50px;
	height: 50px;
	position: absolute;
	top:0;

	right: 40px;
	z-index: 11;
	opacity: 0;
}
nav{
	position: absolute;
	top:0px;
	left: -100%;
	width: 100%;
	height: 800px;
	background-color: rgba(0,0,0,1);
	text-align: center;
	padding: 150px 10%;
	display: flex;

	flex-direction: column;


}
nav a{
		color: white;
}
nav li{
	font-size: 24px;
	margin: 15px 0;
}
.check:checked ~ nav{
	left: 0;
	transition: 1.6s;
}
.check:not(:checked)~ nav{
	left: -500px;
	transition: 1.5s;
}

#burguer{
	padding-top: 5px;
	top:5px;
	right: 40px;
	position: absolute;
	z-index: 10;
}
#burguer > li{
	background-color: white;
	width: 45px;
	height: 5px;
	margin: 8px auto;
	padding: 0;
	border-radius: 15px;
	border: 0;

}
.opciones{
	display: none;
}

/*++++++++++++++++HOME+++++++++++++++*/
.header{
	background-color: black;
}
#header{
	background-color: black;
	display: flex;
	align-items: center;
	color: white;
	height: 70px;
	width: 100%;
	margin-bottom: 400px;
	padding: 0 40px;
}
.logo{
	z-index: 10;
	width: 50%;
	font-size: 12px;
	line-height: 25px;
}
.logo a{
	color:white;
}


.barrafooter{
	width: 100%;
	height: 80px;
	background-color: black;
	position: fixed;
	bottom: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.barrafooter a, #buscadorMovil{
		font-size: 32px;
	color: white;
}
/*
.idioma{
	display: flex;
	justify-content: space-between;
}
.idioma p{
		margin: 0 0 0 20px;
}*/
.cabeceraInd{
	position: absolute;
	top: 0;
	left: 0;
	height:800px; 
	width:100%;
	background-image: url('../img/5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-position: center;
}

.simply-section{
	width: 180px;
	height: 180px;
	margin: 0 -45px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.simply-amount{

	font-size: 35px;
	font-weight: 700;
	line-height: 40px;
	color: white;
}
.simply-word{
	font-size: 25px;
	font-weight: 700;
	color:white;
}
#empezar{
	position: absolute;
	top: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 4;
}

.inicio {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.btnCarga{
	background-color: rgba(0,0,0, .7);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	animation: animate 3s linear infinite;
	z-index: 0;
}
.btnCarga:before{
	content: '';
	width: 0%;
	height: 0%;
	border-radius: 50%;
	box-sizing: border-box;
	animation: pequeño 3s linear infinite;
}
#btnEmp{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
	top: 50%-60px;
	left: 50%-60px;
	font-size: 30px;
	height: 60px;
	width: 60px;
	color: white;
	z-index:5;
;
}
@keyframes animate{
	0%{box-shadow: 0 0 10px 0px  blue;}

	100%{
		box-shadow: 0 0 40px 20px  #00e250;}
}
 @keyframes pequeño{
 	0%{ width: 50%;height: 50%;
 		box-shadow: 0 0 0px 0px  blue;
 	}
 
 	100%{width: 100%; height: 100%;
 		box-shadow: 0 0 40px 20px  #00e250;;
 	}
 }
.apartado{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 850px;
	margin-bottom: 30px;
	font-size: 22px;
}
.contenido{
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}
.izq1 a, .izq2 a, .cen1 a{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
}
.izq1, .izq2,.cen1 {
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: top center ;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.izq1 .negro,.izq2 .negro,.cen1 .negro{
	height: 30%;
	width: 100%;
	background-color: rgba(0,0,0,.9);
	display: flex;
	justify-content: center;
	align-items: center;
}
.izq1{
	background-image: url('../img/bandas/LoveOfLesbian2.jpg');
}
.izq2{
	background-image: url('../img/bandas/BelleAndSebastian.jpg');
}
.cen1{
	background-image: url('../img/bandas/LoryMeyers.jpg');
}
.der1, .der2 ,.cen2 {
	display: none;
}
.group{

font-size: 30px;
color: white;
}
.boton{
	width: 100%;
	text-align: center;
	margin: 40px 0 120px 0;
}
.boton button{
	font-size: 20px;
	width: 240px;
	height: 70px;
	background-color: black;
	color:white;
	margin: 0 auto;
	cursor: pointer;
}
.secciones{
	width: 100%;
	margin-bottom: 20px;
}
.secIzq{
	height: 400px;
	width: 100%;
	background-image: url('../img/8.jpg');
	background-position: top center;
	background-size: cover;
}
.secDer{
	height: 400px;
	width: 100%;
	background-image: url('../img/3.jpg');
	background-position: top center;
	background-size: cover;
}
.secIzq .secInt{
display: flex;
}
.secInt{

	flex-direction: column;
	justify-content: center;
	padding: 0 10%;
	color: white;
	background-color: rgba(0,0,0,0.6);
	height: 100%;
	width: 100%;
}
.secInt h2{
	font-size: 28px;
	margin: 20px 0 60px 0;
	font-weight: 800;
}
.secInt p{
	font-size: 20px;
	color:#BABABA;
	font-weight: 200;
}
.secInt button{
width: 220px;
	height: 60px;
	border: white 1px solid;
	font-size: 20px;
	background-color: transparent;
	color:white;
}*/
.seccionPc{
	display: none;
}
.foter{
	background-color: red;
	display: none;
}
/*+++++++++++++++++TICKETS+++++++++++++++++++++++*/
.filtro{
	background-color: rgba(0,0,0,.2);
	width: 100%;
	height: 100%;
}
.info button{
	width: 220px;
	height: 60px;
	border: white 1px solid;
	font-size: 20px;
	background-color: transparent;
	color:white;
}

.tickets{
	width: 100%;
	height: 400px;
	background-image: url('../img/10.jpg');
	background-position: 80% 90%;
	background-size: cover;
	margin: 100px 0;

}
.info{
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10%;
	height: 100%;
	width: 100%;
}
.info h2{
	font-size: 30px;
	font-weight: 800;
	line-height: 40px;

}
.raya{
	height: 10px;
	width: 100px;
	background-color: white;
	margin: 10px 0 60px 0;
}
/*+++++++++++++++++CONCIERTOS+++++++++++++++++++++++*/
.CalContenido{
	display: flex;
	justify-content: center;

	flex-direction: column;
	margin: 40px auto;
	width: 80%;

}
.CalTitular{
	padding: 0 10%;
	margin-bottom: 50px;
}
.CalTitular p{
	color:#BABABA;
	font-size: 20px;
}
.CalTitular h2{
	font-size: 32px;
}
.CalContenido .CalConizq{
	display: flex;
	align-items: center;
	width: 40%;
}
.CalContenido h2{
	font-size: 60px;
}
.CalBanda{
	font-size: 20px;
}
.fecha {
	margin: 0 50px;
	font-size: 20px;
}
.CalEscena{
	font-weight: 600;
	margin-top:10px;
	font-size: 22px;
}
/*+++++++++++++++++NEWLETTER+++++++++++++++++++++++*/
.Newsletter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	height: 450px;

}
.Newsraya{
	width: 100%;
	height: 1px;
	background-color: black;
}
.Newsletter h2{
	font-size: 35px;
line-height: 90px;
}
.Newsletter p{
	font-size: 20px;
	margin: 0 40px;

}
#email{
	margin: 40px 0;
	width: 90%;
	height: 50px;
	padding: 0 1.5%;
	font-size: 18px;
}
.Newsletter .boton{
	margin: 10px 0 60px 0;
}
/*+++++++++++++++++NEWLETTER+++++++++++++++++++++++*/
.patrocinadores{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 60%;
	margin: 50px auto 150px auto;
	height: 300px;

}
.patro{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 160px;
	margin: 20px 0;

}
.patro img{
	width: 100%;
}
.patro2{
	width: 200px !important;
}

.patro:last-child img{
	height: 100%;
}
/*+++++++++++++++++FOOTER+++++++++++++++++++++++*/
footer{
	height: 300px;
	padding: 50px;
	width: 100%;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer p{
	line-height: 40px;
}
.redes{
	text-align: center;
	margin: 30px 0;
	height: 50px;
	font-size: 40px;
	padding-left: 100px 0;
}
.redes i{
	margin: 0 10px;
}
/*+++++++++++++++ PAGINA GRUPOS ++++++++++++++++++++++++*/
.bandasPag{
	padding: 0 0px;
	width:100%; 
}
.grupo{
	margin-top: 40px;
	height: 820px;
	width: 100%; 
	position: relative;
}
.grupoimg{
	height:300px;
	width: 100%;
	background-color: tomato;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text p, .text h2{
		margin: 20px 20px;
}
.text p{
	font-size: 18px;
}
.seccionBanda {
	width: 100%;
	text-align: center;
	margin: 60px 0 20px 0px;
	font-size: 26px;
	text-transform: uppercase;
	
}
.bandaBoton{
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 220px;
	height: 60px;
	border: black 1px solid;
	font-size: 20px;
	background-color: black;
	color:white;
}
.grupoimg img{
	height: 100%;
	width: 100%;
}
/*++++++++++++++++ ENTRADAS ++++++++++++++++++++++++++++++*/
.entradas h2{
	margin-top: 50px;
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
}
.description{
	font-size: 18px;
	margin: 20px 0 0 0;
}

.pack,.dias,.concierto{
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: column;
	padding: 20px 20px;
	text-align: left;
	
}
.packimg, .diaimg, .conciertoimg{
	height: 200px;
	width: 100%;
	background-size: cover;
	background-position: top center;	
}
.packimg{
	background-image: url('../img/camping.jpg');
}
.diaimg{
	background-image: url('../img/camping2.jpg');	
}
.conciertoimg{
	background-image: url('../img/camping.jpg');	
}
.precio{
	margin: 20px 0 30px 0;
	font-size: 30px !important;
	font-weight: 600;
}
.cantidad{
	width: 70%;
	height: 100px;
	display: flex;
	justify-content: space-between;

	margin: 0 auto 20px auto;
}
.menor, .mayor{
	height: 50px;
	width: 40px;
	font-size: 30px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.numero{
	width: 100px;
	height: 50px;
	display: flex;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
}
.entradaboton, .bandaBoton{
	height: 60px;
	width: 220px;
	background-color: black;
	color: white;
	border: none;
	margin: 0 auto;
	cursor: pointer;
}
/*+++++++++++++++ PAGINA ARTISTA ++++++++++++++++++++++++*/
.cabecera {
	height: 600px;
	width: 100%;
	background-position: top center;
	background-size: cover;
}

.cabeceralove{
	background-image: url('../img/bandas/LoveOfLesbian.webp');
}
.cabeceralori{
	background-image: url('../img/bandas/LoryMeyers2.jpg');
}
.cabeceratriangulo{
	background-image: url('../img/bandas/Triangulo2.webp');
		background-position: center;
}
.cabecerabelle{
	background-image: url('../img/bandas/belle.jpg');
	background-position: 80% 30%;
}
.cabeceravetusta{
	background-image: url('../img/bandas/vetusta2.webp');
	background-position: 80% 20%;
}
.cabeceraparcels{
	background-image: url('../img/bandas/parcels2.jpg');
}
.cabeceraiseo{
background-image: url('../img/bandas/iseo.jpg');
	background-position: 80% 30%;
}
.cabecerabig{
	background-image: url('../img/bandas/bigmon2.jpg');
}
.cabecerakostrok{
	background-image: url('../img/bandas/Kostrok2.jpg');
	background-position: 80% 40%;
}
.cabeceraspring{
	background-image: url('../img/bandas/spring2.jpg');
}
.cabecerastreet{
	background-image: url('../img/bandas/mani2.jpg');
	background-position: 80% 8%;
}
.cabeceramew{
	background-image: url('../img/bandas/mew2.jpg');
	background-position: 80% 10%;
}
.cabeceraocellot{
	background-image: url('../img/bandas/ocellot2.jpg');
	background-position: 80% 30%;
}
.cabeceravulcano{
	background-image: url('../img/bandas/nuevavulcano.jpg');
	background-position: 80% 20%;
}
.cabeceranudo{
	background-image: url('../img/bandas/nudozurdo2.jpg');
	background-position: 80% 10%;
}
.cabeceramatt{
	background-image: url('../img/bandas/matt.jpg');
	background-position: 80% 20%;
}
.cabeceratoundra{
	background-image: url('../img/bandas/toundra2.jpg');
	background-position: 80% 40%;
}
.descripcion{
	height: 900px;
	width: 100%;
	background-color: black;
	padding: 20px 5%;
}
.descripcion .nombre{
font-size: 18px;
	color:#BABABA;
}
.descripcion h2{
	font-size: 30px;
	color: white;
}
.texto{
	font-size: 14px;
	line-height: 24px;
	margin: 20px 0;
	width: 100%;
	color: white;
}
.seccionMusica{
	width: 100%;
	background-color:black;
}
.fondoMusica{
	height: 600px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center
}
.musica{
	width: 100%;
	height: 515px;
}
.musica iframe{
	width: 100%;
	height: 100%;
}
.seccionCancion{
	padding: 0 5%;
	height: 500px;
	width: 100%;
}
.seccionCancion .nombre{
	color:#BABABA;
	font-size: 18px;
}
.raya2{
	height: 10px;
	width: 80px;
	background-color: white;
}
.seccionCancion h2{
	font-size: 40px;
	color:white;
}
.contenSepa{
	background-color: black;
	padding: 100px 0;

}
.separador{
	height: 1px;
	background-color: white;
	width: 100%;
}
/*+++++++++++++++ PAGINA FESTIVAL ++++++++++++++++++++++++*/
.festival{
	margin:60px auto;
	width: 100%;
	padding: 0 5%;
	height: 1500px;
	font-size: 20px;
}
.festival h2{
	margin-bottom: 20px;
}
.cartel{
	background-image: url('../img/cartel_prueba.jpg');
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	margin: 100px 0;
}
/*++++++++++++++++ INFORMACIÓN ++++++++++++++++++++++++++++++*/
.informacion{
	height: 4300px;

}
.mapa{
	width: 100%;
	height: 300px;
	margin: 70px auto;
	background-color: tomato;

}

.acampada h2, .infoTaq h2{
	padding-bottom: 40px;
}
.infoAcam {
	display: flex;
	flex-direction: column;

}
.infoTaq {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;

}
.textoAcam, .textoTaq{
	width:100%;
	margin-bottom: 40px;
	padding: 0 5%;
}
.infoAcam p{
	font-size: 20px;
	line-height: 30px;
}

.textoTaq p{
	font-size: 20px;
	line-height: 30px;
}
.imagenAcam, .imagenTaq{
	width: 100%;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
}
.imagenAcam{
		background-image: url(../img/camping.jpg);
}
.imagenTaq{
		background-image: url(../img/taquilla.jpg);
}
.comida{
	background-image: url(../img/burguer.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: flex-start;
	padding: 5%;
	align-items: flex-end;
	margin: 40px 0;
}
.textoComida{
	height: 300px;
	width: 70%;
	background-color: rgba(0,0,0,.8);
	color: white;
	padding: 5%;
}
.textoComida h2{
	margin-bottom: 10px;

}
.textoComida p{
		font-size: 18px;
}
.otra{
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;

}
.seccion{
	width: 100%;
	display: flex;
	margin: 20px 0;
}
.seccion p{
	text-align: left;
	color: transparent;
	padding:5px 40px;

}
.textoOtra h4{
	color: transparent;
	text-align: left;
	padding: 0 40px;
}
.icon i{
font-size: 30pt;
}
.textoOtra{
	height: 0px;
	width: 100%;
}
.icon:hover .textoOtra{
background-color: white;
height: 200px;
transition: 1.5s;
}
.icon:hover .textoOtra p, .icon:hover .textoOtra h4{
	color: black;
	transition: 1.3s;
}
.hotel{
	margin-top: 10px;
}
.textoOtra a p{
color:transparent;
transition: 0s !important;
}
.textoOtra a p:hover{
color:#F6E395 !important;
transition: 0s !important;
}
/*++++++++++++++++ CONTACTO ++++++++++++++++++++++++++++++*/
.contacto{
	display: flex;
	justify-content: flex-start;
	margin:20px 0 0 0;
	padding: 40px 0;
	height: 100vh;
	width: 100%;
	background-image: url(../img/contacto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  center;
	color: white;
}
.contactoTexto{
	background-color: rgba(0,0,0,.8);
	margin: auto;
	padding:10px 5%;
	height: 650px;
	width: 90%;

}
.contactoTexto h2{
	font-size: 33px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.contactoTexto p{
	font-size: 18px;
	margin-bottom: 50px;
}
#nombre, #email, .mensaje{
width: 100%;
height: 40px;
border: none;
padding: 0 20px;
font-size: 14px;
color: white;
background-color: transparent;
border-bottom: 1px solid white;
}
.mensaje{
	margin-bottom: 40px;
	font-size: 14px;
	font-weight: 200;
}
.contacto .botonContact{
	background-color: white;
	width: 100%;
	height: 60px;
	margin-top: 50px;
	color:black;
	margin: 0 auto;
	cursor: pointer;
	font-weight: 600;
	font-size: 20px;
}
}	