@media screen and (min-width: 1200px){
body{
	background-color: red;
}
.videotablet, .videomovil{
	display: none;
}
.inicioMovil{
	background-image: url('../img/Background_inicio6.jpg');
	height:100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
}
.inicioMovil div{
	display: flex;
	flex-direction: column;
	background-color: rgba(198,46,64,.0);
	justify-content: center;
	align-items: center;
	margin: 0 auto
	width: 90%;
	height: 100vh;
}

.nombreUser,.correo{
	margin: 10px auto;
	padding: 0 20px;
	height: 40px;
	width: 30%;
	border-radius: 50px;
}
.entrar, .login, .registrar {
	margin: 20px auto;
	height: 40px;
	border-radius: 50px;
	width: 30%;
	background-color: #c62e40;
	border: none;
	color:white;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}
.login{
	background-color: #c62e40;
	color: white;
}
.registrar{
	background-color: #2fa1ad;
	color: #white;
	margin-top: 0px;
}
.inicioMovil span{
	display: flex;

	width: 30%;
}
.inicioMovil p{
	font-size: 12px;
	color: white;
	width: 30%;

}
.inicioMovil .regis{
	color:#ebd785;
	margin-left: -30px;
	font-size: 12px;
} 
.regis a{
		text-transform: lowercase;
	color: #ebd785;
}
 header{
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
 	height: 100px;
 	/*background-color: #00E6BF;*/
 	color: #37374B;
 }

.check, #burguer{
	display: none;
}
 h1{
 	font-family: 'Poppins', sans-serif;
 	text-transform: uppercase;
 	line-height: 25px;
 	font-size: 25px;
 	color:white;
 }
 .logo{
 /*	background-color: red;*/
 	width: 25%;
 	padding: 0 150px;

 	display: flex;
 	justify-content: center;
 }
 .logo img{
 	width: 200px;

 }
 nav{
 	width: 50%;
 	display: flex;
 	justify-content: space-around;
 	font-size: 16px;
 	font-family: 'Poppins', sans-serif;
 }
 nav a{
 	position: relative;
 	color:black;
 	font-weight: 500;
 }

 .borde{
 	position: absolute;
 	bottom: -6px;
 	height: 4px;
 	width: 0%;
 	background-color: #ebd785;
 	transition: .7s;
 } 
 .bordefijo{
 	width: 100%;
 	 color: #F6E399;
 }
 nav li:hover a{
	color:#c62e40;
}
nav li:hover a .borde{
		transition: .7s;
	width: 100%;
}
.blanco{
	color:white;
}
.blanco:hover{
	color:#ebd785;
}
/*++++++++++++++++++ PERFIL ++++++++++++++++*/

.perfilPc a{
	text-align: right;
	color: black;
	text-transform:lowercase;
}
.perfilPcblanco a{
	text-align: right;
	color: white;
	text-transform:lowercase;
}
.perfilPc a:hover{
	color:#c62e40;
}

/*++++++++++++++++++ OPCIONES ++++++++++++++++*/
 .opciones{
 	/*	background-color: orange;*/
 	width: 25%;
 	display: flex;
 	justify-content: center;
 	font-size: 18px;
 	color:white;
 }
.opciones div{
	margin: 0 20px;
}
.cesta a{

	color: black;
	cursor: pointer;
}
.cesta a:hover{
	color:#c62e40;
}
 /*
 .opciones .idioma{
 	display: flex;
 	margin: 0 30px;
 }
 .opciones .idioma p{
 	margin: 0 5px;
 }
 .cat,.esp{
 	cursor: pointer;
 }*/
 #buscador{
 	cursor: pointer;
 	color: black;
 }
 #buscador:hover{
 	color:#c62e40;
 }
 .franjaBuscador{
 	display: none;
 	width: 300px;
 	height: 50px;
 	background-color: rgba(255,255,255,1);
 	position: fixed;
 	top: 110px;
 	right: 200px;
 	padding: 0 20px;
 	font-size: 16px;
 }
 .franjaBuscador:hover{
 	background-color: rgba(255,255,255,0.8);
 }
 .buscando{
 	display: block;
 }
.cabeceraInd{
	position: absolute;
	top: 0;
	left: 0;
	height:1000px; 
	width:100%;
	background-image: url('../img/home3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#contador{
	display: flex;
	justify-content: center;
	margin:500px 0;

}
.simply-section{

	width: 180px;
	height: 180px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.simply-amount{

	font-size: 95px;
	font-weight: 700;
	line-height: 40px;
	color: #c62e40;
}
.simply-word{
	font-size: 55px;
	font-weight: 700;
	color:#c62e40;
}
.contenido{
	display: flex;
	justify-content: space-around;
	margin: 10px 0;
}
.apartado{
	width: 100%;
	height: 50px;
	margin:1050px 0 50px 0;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 22px;
}
.izq1 a, .izq2 a, .der1 a, .der2 a,.cen1 a, .cen2 a{
	height: 100%;
	width: 100%;
}
.izq1, .izq2, .der1, .der2,.cen1, .cen2{
	height: 500px;
	width: 33%;
	background-size: cover;
	background-position: top center ;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.izq1:hover .negro,.izq2:hover .negro,.cen1:hover .negro,.cen2:hover .negro,.der1:hover .negro,.der2:hover .negro{
	height: 100%;
	width: 100%;
	background-color: rgba(198,46,64,.9);
	display: flex;
	justify-content: center;
	align-items: center;
}
.izq1:hover .group,.izq2:hover .group,.cen1:hover .group,.cen2:hover .group,.der1:hover .group,.der2:hover .group{
	color:white;
	display: block;
	}
.group{
	display: none;
font-size: 30px;
color: white;
}
.izq1{
	background-image: url('../img/bandas/LoveOfLesbian2.jpg');
}
.izq2{
	background-image: url('../img/bandas/BelleAndSebastian.jpg');
}
.cen1{
	background-image: url('../img/bandas/LoryMeyers.jpg');
}
.cen2{
	background-image: url('../img/bandas/VetustaMorla.jpg');
}
.der1{
	background-image: url('../img/bandas/Triangulo.jpg');
}
.der2{
	background-image: url('../img/bandas/parcels.jpg');
}
.izq:hover{
	background-color: black;
}

.boton{
	width: 100%;
	text-align: center;
	margin: 80px 0 120px 0;
}
.boton button{
	width: 200px;
	height: 50px;
	background-color: #c62e40;
	color:white;
	margin: 0 auto;
	cursor: pointer;
	border:none;
}
.boton button:hover{
	background-color: rgba(0,0,0,0);
	border: 1px solid #c62e40;
	color:#c62e40;
}
.bandas{
	font-size: 40px;
}
.secciones{
	width: 100%;
	display: flex;
}

.secIzq{
	height: 700px;
	width: 50%;
	background-image: url('../img/8.jpg');
	background-position: top center;
	background-size: cover;
}
.secDer{
	height: 700px;
	width: 50%;
	background-image: url('../img/3.jpg');
	background-position: top center;
	background-size: cover;
}
.secIzq:hover .secInt{
display: flex;
}
.secInt{
	display: none;
	flex-direction: column;
	justify-content: center;
	padding: 0 20%;
	color: white;
	background-color: rgba(198,46,64,0.9);
	height: 100%;
	width: 100%;
}


.secInt h2{
	font-size: 56px;
	margin: 20px 0 60px 0;
	font-weight: 800;
}
.secInt p{
	font-size: 20px;
	color:#BABABA;
	font-weight: 200;
}
.secInt button{
width: 200px;
	height: 50px;
	background-color: #c62e40;
	color:white;
}
.secInt button:hover{
	background-color: white;
	color: #c62e40;
	cursor: pointer;
}
.filtro{
	background-color: rgba(0,0,0,.2);
	width: 100%;
	height: 100%;

}
.info button{
	width: 200px;
	height: 50px;
	background-color: rgba(0,0,0,0);
	color:white;
	cursor: pointer;

}
.info button:hover{
	background-color: rgba(255,255,255,1);
	color:black;
	border:none;
}
.tickets{
	width: 100%;
	height: 400px;
	background-image: url('../img/10.jpg');
	background-position: 80% 90%;
	background-size: cover;
	margin: 100px 0;

}
.info{
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10%;
	height: 100%;
	width: 100%;
}
.info h2{
	font-size: 50px;
	font-weight: 800;
}
.raya{
	height: 10px;
	width: 100px;
	background-color: white;
	margin: 10px 0 60px 0;
}
.CalContenido{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 40px auto;
	width: 80%;
	padding: 0 10%;
}
.CalTitular{
	padding: 0 20%;
	margin-bottom: 50px;
}
.CalTitular p{
	color:#BABABA;
	font-size: 20px;
}
.CalTitular h2{
	font-size: 32px;

}
.CalContenido .CalConizq{
	display: flex;
	align-items: center;
	width: 40%;
}
.CalContenido h2{
	font-size: 60px;
	color:#c62e40;
}
.CalBanda{
	font-size: 24px;
}
.fecha {
	margin: 0 50px;
	font-size: 20px;
}
.Newsletter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 450px;

}
.Newsraya{
	width: 100%;
	height: 1px;
	background-color: black;
}
.Newsletter h2{
	font-size: 35px;
line-height: 90px;
}
.Newsletter p{
	font-size: 18px;

}
#emailHome{ 
	margin: 40px 0;
	width: 40%;
	height: 50px;
	padding: 0 1.5%;
	font-size: 18px;
}
.Newsletter .boton{
	margin: 10px 0 0 0;
}
.patrocinadores{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	margin: 0 auto;
	height: 300px;

}
.patro{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 160px;

}
.patro img{
	width: 100%;
}
.patro2{
	width: 200px !important;
}

.patro:last-child img{
	height: 100%;

}

footer{
	height: 300px;
	width: 100%;
	background-color: #c62e40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer p{
	line-height: 40px;
}
.redes{
	text-align: center;
	margin: 20px 0;
	height: 50px;
	font-size: 40px;
	padding-left: 100px 0;
}
.redes i{
	margin: 0 10px;
}

/*+++++++++++++++ PAGINA ARTISTA ++++++++++++++++++++++++*/
.cabecera {
	height: 600px;
	width: 100%;
	background-position: top center;
	background-size: cover;
}

.cabeceralove{
	background-image: url('../img/bandas/LoveOfLesbian.webp');
}
.cabeceralori{
	background-image: url('../img/bandas/LoryMeyers2.jpg');
}
.cabeceratriangulo{
	background-image: url('../img/bandas/Triangulo2.webp');
		background-position: center;
}
.cabecerabelle{
	background-image: url('../img/bandas/belle.jpg');
	background-position: 80% 30%;
}
.cabeceravetusta{
	background-image: url('../img/bandas/vetusta2.webp');
	background-position: 80% 20%;
}
.cabeceraparcels{
	background-image: url('../img/bandas/parcels2.jpg');
}
.cabeceraiseo{
background-image: url('../img/bandas/iseo.jpg');
	background-position: 80% 30%;
}
.cabecerabig{
	background-image: url('../img/bandas/bigmon2.jpg');
}
.cabecerakostrok{
	background-image: url('../img/bandas/Kostrok2.jpg');
	background-position: 80% 40%;
}
.cabeceraspring{
	background-image: url('../img/bandas/spring2.jpg');
}
.cabecerastreet{
	background-image: url('../img/bandas/mani2.jpg');
	background-position: 80% 8%;
}
.cabeceramew{
	background-image: url('../img/bandas/mew2.jpg');
	background-position: 80% 10%;
}
.cabeceraocellot{
	background-image: url('../img/bandas/ocellot2.jpg');
	background-position: 80% 30%;
}
.cabeceravulcano{
	background-image: url('../img/bandas/nuevavulcano.jpg');
	background-position: 80% 20%;
}
.cabeceranudo{
	background-image: url('../img/bandas/nudozurdo2.jpg');
	background-position: 80% 10%;
}
.cabeceramatt{
	background-image: url('../img/bandas/matt.jpg');
	background-position: 80% 20%;
}
.cabeceratoundra{
	background-image: url('../img/bandas/toundra2.jpg');
	background-position: 80% 40%;
}
.descripcion{
	height: 700px;
	width: 100%;
	background-color: black;
	padding: 80px 20%;
}
.descripcion .nombre{
font-size: 18px;
	color:#BABABA;
}
.descripcion h2{
	font-size: 30px;
	color: white;
}
.texto{
	font-size: 14px;
	line-height: 24px;
	margin: 20px 0;
	width: 80%;
	color: white;
}

.seccionMusica{
	width: 100%;
	background-color:black;
}
.fondoMusica{
	height: 600px;
	width: 80%;
	margin: 0 auto;
	justify-content: space-around;
	display: flex;
	align-items: center
}
.musica{

	width: 760px;
	height: 515px;
}
.musica iframe{
	width: 100%;
	height: 100%;
}
.seccionCancion{
	height: 500px;
	width: 600px;

}
.seccionCancion .nombre{
	color:#BABABA;
	font-size: 18px;
}
.raya2{
	height: 10px;
	width: 80px;
	background-color: white;
}
.seccionCancion h2{
	font-size: 40px;
	color:white;
}
.contenSepa{
	background-color: black;
	padding: 100px 0;

}
.separador{
	height: 1px;
	background-color: white;
	width: 100%;

}
/*++++++++++++++++ ENTRADAS ++++++++++++++++++++++++++++++*/
.header{
	background-color: #c62e40;
}
.entradas{
	margin-top: 150px;
}
.entradas h2{
	margin: 40px 150px;
	font-size: 22px;
	text-transform: uppercase;
}
.pack,.dias,.concierto{
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: space-between;
	padding: 50px 150px;
	border-top: 1px solid black;
}
.entradatexto{
	width: 500px;
}
.packimg, .diaimg, .conciertoimg{
	height: 300px;
	width: 300px;
	background-size: cover;
	background-position: top center;	
}
.packimg{
	background-image: url('../img/camping.jpg');
	
}
.diaimg{
	background-image: url('../img/camping2.jpg');	
}
.conciertoimg{
	background-image: url('../img/camping.jpg');	
}
.precio{
	margin: 30px 0;
	font-size: 30px;
	font-weight: 600;
	color:#c62e40;
}
.cantidad{
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: space-between;
}
.menor, .mayor{
	height: 50px;
	width: 40px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.numero{
	width: 70px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #c62e40;
}
.numero p{
	font-size: 25px;
	color:#c62e40;
}
.entradaboton, .bandaBoton{
	height: 50px;
	width: 150px;
	background-color: #c62e40;
	color: white;
	border: none;
	cursor: pointer;
}
.entradaboton:hover, .bandaBoton:hover{
	border: 1px solid #c62e40;
	background-color: white;
	color:#c62e40;
}

/*+++++++++++++++ PAGINA GRUPOS ++++++++++++++++++++++++*/
.bandasPag{
	display: flex;
	flex-wrap: wrap;
	padding: 0 150px;
	width:100%; 
}
.grupo{
	margin-top: 40px;
	height: 800px;
	width: calc(25% - 20px); 
	position: relative;
	margin: 40px 10px;

}
.grupoimg{
	height:400px;
	width: 100%;
	background-color: tomato;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text{
	padding: 20px;
}
.text p{
		margin: 10px 0 0 0;
}
.seccionBanda{
	width: 100%;
	margin: 100px 150px 0px 150px;
	font-size: 22px;
	text-transform: uppercase;
	
}
.bandaBoton{
	position: absolute;
	left: 20px;
	bottom: 20px;
}
.grupoimg img{
	height: 100%;

}
/*+++++++++++++++ PAGINA FESTIVAL ++++++++++++++++++++*/

.festival{
	margin:200px auto;
	width: 50%;
	height: 2000px;
	font-size: 18px;
}
.festival h2{
	margin-bottom: 20px;
}
.cartel{
	background-image: url('../img/cartel.png');
	background-position: top center;
	background-size: cover;
	height: 1000px;
	width: 100%;
	margin: 200px 0;
}
/*++++++++++++++++ INFORMACIÓN ++++++++++++++++++++++++++++++*/
.contenmapa{
	width: 100%;
	background-color: red;

}
.mapa{
	width: 100%;
	height: 700px;
	margin: 150px auto;
	background-image: url(../img/mapa.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.acampada, .taquillas, .otra{
	width: 100%;
	height: 500px;
	padding: 0 150px;
	margin: 200px 0;

}
.acampada h2, .infoTaq h2{
	padding-bottom: 40px;
}
.infoAcam, .infoTaq{
	width: 100%;
	display: flex;
	justify-content: space-around;

}
.textoAcam, .textoTaq{
	width:50%;
}
.infoAcam p{
	padding-right: 100px;
	font-size: 18px;
	line-height: 30px;
}
.textoTaq h2{
	padding-left: 100px;
}
.textoTaq p{
	padding-left: 100px;
	font-size: 18px;
	line-height: 30px;

}
.imagenAcam, .imagenTaq{
	width: 50%;
	height: 500px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
}
.imagenAcam{
		background-image: url(../img/camping.jpg);
}
.imagenTaq{
		background-image: url(../img/taquilla.jpg);
}
.comida{
	background-image: url(../img/burguer.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: flex-start;
	padding: 150px;
	align-items: flex-end;
}
.textoComida{
	height: 300px;
	width: 500px;
	background-color: rgba(0,0,0,.8);
	color: white;
	padding: 40px;
}
.textoComida h2{
	margin-bottom: 20px;

}
.textoComida p{
		font-size: 18px;
}
.otra{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
.seccion{
	width: 25%;
}
.seccion p{
	text-align: left;
	color: transparent;
	padding:5px 40px;

}
.textoOtra h4{
	color: transparent;
	text-align: left;
	padding: 0 40px;
}
.icon i{
font-size: 30pt;
}
.textoOtra{
	height: 0px;
	width: 100%;
}
.icon:hover .textoOtra{
background-color: white;
height: 200px;
transition: 1.5s;
}
.icon:hover .textoOtra p, .icon:hover .textoOtra h4{
	color: black;
	transition: 1.3s;
}
.hotel{
	margin-top: 10px;
}
.textoOtra a p{
color:transparent;
transition: 0s !important;
}
.textoOtra a p:hover{
color:#F6E395 !important;
transition: 0s !important;
}
/*++++++++++++++++ CONTACTO ++++++++++++++++++++++++++++++*/

.contacto{
	position: absolute;
	right: 0;
	display: flex;
	justify-content: flex-start;
	margin:70px 0 0px 0px;
	padding: 100px 150px;
	height: 100vh;
	width: 100%;
	background-image: url(../img/contacto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:  center;
	color: white;

}
.contactosabierto{
	position: absolute;
	top: 1000px;

}
.contactoTexto{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(0,0,0,.6);
	padding:10px 80px;
	height: 650px;
	width: 600px;

}
.contactoTexto h2{
	font-size: 33px;
	margin-bottom: 20px;
}
.contactoTexto p{
	font-size: 18px;
	margin-bottom: 50px;
}
#nombre, #email, .mensaje{
width: 100%;
height: 40px;
border: none;
padding: 0 20px;
font-size: 14px;
color: white;
background-color: transparent;
border-bottom: 1px solid white;

}
.mensaje{
	margin-bottom: 40px;

}
.contacto .botonContact{
	background-color: transparent;
	width: 100%;
	height: 60px;
	margin-top: 50px;
	color:white;
	margin: 0 auto;
	cursor: pointer;
	font-size: 16px;
}
.botonContact:hover{
	background-color: white;
	color: black;
}
/*++++++++++++++++ MURO ++++++++++++++++++++++++++++++*/
aside, .tituloBanda h1, .tituloBanda p{
	display: none;
}
.tituloBanda{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	margin: 90px 0 20px 0;
}
section h1{
	font-size: 20px;
	text-align: center;
	overflow-y: scroll;
	color: #30302f;
}
section .tituloBanda p{
	color: #c62e40;
	font-size: 14px;
}
.seccionMovil{
	margin-bottom: 150px;

}
/*++++++++++++++++++ PUBLICAR POST +++++++++++++++++++++*/

.publicarPost{
	height: 140px;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 130px;
}
.publicarPost h2{
	color: #3e3e3d;
}
.publicarPost .publicarTexto{
	width: 100%;
	height: 60px;
	margin-top: 20px;
	padding: 0 40px;
	border-radius: 60px;
	border: 1px solid #3e3e3d;
}
.archivo, .publicar{
	display: flex;	
}
.publicar{
	margin-top: 25px;
}
.archivo i{
	margin-right:  40px;
	font-size: 25px;
	color: #3e3e3d;
}
.publicar input{

	width: 120px;
	height: 40px;
	background-color: #c62e40;
	color:white;
	
	cursor: pointer;
	border:none;
}
/*++++++++++++++++++POST+++++++++++++++++++++*/
.body{
	background-color: white;
}

.social{
	width: 50%;
	margin:0 auto;

}

.post{
	height: 800px;

	border-radius: 10px;
	margin: 20px 10px 20px 10px;
}
.user{
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nick{
	display: flex;
}
.user .fotousuario{
	display: flex;
	align-items: center;
}
.user img{
	height: 50px;
	width: 50px;
	border-radius: 50%;

}
.nombre{
	display: flex;
	align-items: center;
}
.nombre p{
	font-size: 18px;
	margin-left: 20px;
	color: #30302f;
	font-weight: 600;
}

.textoPost{
	margin:18px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}
.etiqueta{
	color:#00cfff;
}
.post .foto{
	height: 500px;
	width: 100%;
	background-image: url('../img/user/15.jpg');
	background-position: 60% 20%;
	background-size: cover;
}
.post .foto1{
	height: 500px;
	width: 100%;
	background-image: url('../img/fest1.jpg');
	background-position: 60% 20%;
	background-size: cover;
}
.post .foto2{
	height: 500px;
	width: 100%;
	background-image: url('../img/fest3.jpg');
	background-position: 20% 90%;
	background-size: cover;
}
.post .foto4{
		height: 500px;
	width: 100%;
	background-image: url('../img/gif1.gif');
	background-position: 20% 90%;
	background-size: cover;
}
.post ul{
	display: flex;
}
.post ul li{
	height: 6px;
	width: 6px;
	background-color: #30302f;
	border-radius: 50%;
	margin: 3px 3px;
}
.foto img{
	width: 100%;
}
.action{
	margin: 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.action i{
	font-size: 26px;
	margin-right: 25px;
}
.like{
	display: flex;
}
.like p{
	font-size: 14px;
	margin-left:  10px;

}
/*++++++++++++++ BARRA LATERAL ++++++++++++++++++++++*/
.menuLateral{
	height:50vh;
	width: 40px;

position: fixed;
margin-top: 100px;
}
.lateralApart {
	width:60px;
	height: 100px;
	background-color: #c62e40;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
z-index: 999;
}
.lateralApart img{
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.lateralApart i{
	font-size: 30px;
	cursor: pointer;
}
.lateralApart:first-child{
	margin-top: 10%;
}
/*++++++++++++++ CHAT ++++++++++++++++++++++*/
.chat{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 300px;
		height: calc(100% - 100px);
}
.contactos{
	width: 100%;



}
.chatuser{
	width: 100%;
	height: 55px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.chatuserOpen{
		position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 55px;
	background-color: #c62e40;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.chatuserOpen i{
	color: white;
	font-size: 25px;
	cursor: pointer;
}
.chatuser .fotochat{
margin: 0 20px;
	height: 35px;
	width: 35px;
		overflow: hidden;
		border-radius: 50%;
}
.fotochat .fotouser{
	width: 100%;
	height: 100%;	
	background-size: cover;
	background-position: center;
}
.uno{
	background-image: url('../img/user/5.jpg');
}
.dos{
	background-image: url('../img/user/20.jpg');
}
.tres{
	background-image: url('../img/user/21.jpg');
}
.cuatro{
	background-image: url('../img/user/9.jpg');
}
.cinco{
	background-image: url('../img/user/10.jpg');
}
.seis{
	background-image: url('../img/user/11.jpg');
}
.siete{
	background-image: url('../img/user/12.jpg');
}
.ocho{
	background-image: url('../img/user/13.jpg');
}
.nueve{
	background-image: url('../img/user/14.jpg');
}
.diez{
	background-image: url('../img/user/15.jpg');
}
.once{
	background-image: url('../img/user/16.jpg');
}
.doce{
	background-image: url('../img/user/17.jpg');
}
.trece{
	background-image: url('../img/user/18.jpg');
}
.catorce{
	background-image: url('../img/user/19.jpg');
}
.ventanachat2{
	right: 340px!important;
}
.ventanachat{
	position: fixed;
	bottom: 0;
	right: -800px;
	height: 400px;
	width:300px;
	background-color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0px 0px 5px black;
	
	
}
.infochat{
	height: 50px;
	width: 100%;
	cursor: pointer;
	border-bottom: 2px solid #c62e40;
	display: flex;
	align-items: center;
}
.cuerpochat{
	height: 280px;
	width: 100%;


}
#fotoinfo{
	width: 30px;
	height: 30px;
	background-image: url('../img/8.jpg');
	background-position: center;
	background-size: cover;
		margin: 0 20px 0 10px;
		border-radius: 50px;

}

.escribirchat{
	height: 70px;
	width: 100%;
	background-color: #c62e40;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;

}
.mensajechat{
	width: 180px;
	height: 40px;
	padding: 0 20px;
	border:none;
	border-radius: 50px;
}
.emoji{
	font-size: 25px;
	color: white;
}
.enviarmensaje i{
	font-size: 25px;
	color: white;
}
#cuerpochat{
	position: absolute;
	top: 70px;
	right: 10px;
	text-align: right;

	font-size: 14px;
	padding: 5px 10px;
	border-radius: 4px;
	line-height: 24px;

}
/*++++++++++++ MODO NOCHE ++++++++++++++*/
.bodynoche{
	background-color: #282726;
	color:white;
}
.pensandonoche{
	color:white !important;
}
.noche{
	color: black!important;
}
.noche2{
	background-color: #282726;
}
.seccionfotoProfilenoche p{
	color: white !important;
}
/*PROFILES*/

.sectionProfile {
	width: 50%;
	margin: 160px auto 0 auto;

}
.seccionfotoProfile{
	margin-top: 100px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#fotoProfile{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-image: url('../img/user/7.jpg');
	background-size: cover;
	background-position: center;
}
.seccionfotoProfile h2{
	margin-top: 15px;
	color: #30302f;
	font-weight: 600;
	position: relative;
}
.seccionfotoProfile h3{
	margin-top: -5px;
	color: grey;
	font-weight: 300;
}
.edit{
	position: absolute;
	top: 5px;
	right: -50px;
	font-size: 18px;
	cursor: pointer;
}

.datosProfile h3{
	text-align: left;
	margin-bottom: 10px;
	font-weight: 600;
}
.datosProfile p{
	color: #30302f;
	margin-bottom: 30px;
}
.datosProfile{
	margin-bottom: 100px;
}

.editarProfile, .datosProfile{
	padding: 20px;
}
.editarProfile{
display: none;
}
.editando{

	display: block;
margin-bottom: 100px;
}
.editarProfile h3{
	margin: 10px 0 30px 0;
}
.editarProfile div{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.editarProfile .input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #30302f;
	margin-bottom: 20px;
		height: 50px;
	border: none;
	border-radius: 50px;
	box-shadow: 0px 0px 5px #30302f;
	padding: 0 20px;
}
#cambiar{
	margin-top: 30px;
	background-color: #c62e40;
	width: 140px;
	height: 50px;
	color: white;
	box-shadow: none;
	border-radius: 0;
	cursor: pointer;
	margin-top: 100px;
}
#cambiar:hover{
	border:1px solid #c62e40;
	background-color: transparent;
	color: #c62e40;
}
.editarProfile .botonfile{
	width: 100%;
	background-color: #303030;
	position: relative;
	padding: 10px;


}
.editarProfile .botonfile p{
	
	width: 100%;
	color: white;
	display: flex;
	justify-content: center;

}
.editarProfile #file{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}

}