*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.opciones{
	z-index: 30;
}
.menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px;
margin-bottom: 20px;
background-color: #30302f;
	width: 100%;
}
.menu i, .menu p{
	color: #e4d184 ;
}
.portadaDisco{
	margin: 40px auto 0 auto;
	width: 100%;
	height: 300px;
	background-size: contain;
	background-position: center;
}
body{
	background:#ebd785;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	min-height: 50vh;
}

 li{
	padding: 10px;
	list-style: none;
}

li:hover, svg:hover {
	cursor: pointer;
	color: grey;
}
li.active{
	color: #e4d184;
}
a{
	text-decoration: none;
	color: #e4d184;
}
#controls{
	height: 100vh;
}

 svg{
	color: #e4d184;
}
.buttonsPlay svg{
	color: #30302f;
}

progress{
	width: 100%;
	opacity: 1;
	background-color: #30302f;
	height: 10px;
	border-radius: 10px;
	color: #30302f;
	,
}
.barraStyle::-webkit-progress-value{
   background: orange;
}
.progreso{
	margin: 10px auto;
	width: 80%;
	height: 50px;
	margin-top: 0px;
}
.timer{
	width:50%;
	position: relative;
	top:50px;
	left:0px;
	text-align:left;
	float:left;
	font-size: 12px;
	color: #30302f;
	font-weight: 200;

}
.controles{
	position: fixed;
	width: 100%;
	height: 130px;
	bottom: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonsPlay svg{
margin: 0px 20px;
font-size: 40px;
}
.AbrirVolumen{
	float: right;
	font-size: 20px ;
	margin: 25px 0 0 0;
	color:#30302f;
}
.checkVol{
	height: 30px;
	width: 30px;
position: absolute;
right: 40px;
z-index: 10;
opacity: 0;
}
.checkVol:checked ~ .volumen{
	opacity: 1;
	transition: 0.5s;
}
.checkVol:not(:checked)~ .volumen{
opacity: 0;
transition: 0.5s;
}
.checkflech{
	height: 50px;
	width: 50px;
position: absolute;
left: 25px;
top: 0px;
z-index: 10;
opacity: 0;
}
.checkflech:checked ~ .lista{
	display: block;
	transition: 0.2s;

}
.checkflech:not(:checked)~ .lista{
display: none;
transition: 0.2s;
}
.lista{
	position: absolute;
	top: 50px;
	height: 100vh;
	width:100vw;
	background: #30302f;
	text-align: left;
	color: #e4d184;
}
.checkNav{
	width: 50px;
	height: 50px;
	position: absolute;
	top:0;
	right: 40px;
	z-index: 11;
	opacity: 0;
}
.checkNav:checked ~ nav{
	left: 0;
	transition: 1.6s;
}
.checkNav:not(:checked)~ nav{
	left: -500px;
	transition: 1.5s;
}
nav{
	position: absolute;
	top:50px;
	left: -100%;
	width: 100%;
	height: 800px;
	background-color: #30302f;
	text-align: center;
	padding: 150px 10%;
	display: flex;
	z-index: 30;
	flex-direction: column;


}
#playList{
	margin: 0 30px;
}
.volumen{
		width:100%;
	height: 40px;
	position: absolute;
	top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:right;
	color: white;
	margin-bottom:20px;
}
#currentPlay{
	color: #30302f;
	font-weight: 200;
	font-size: 16px;

}
h3{
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: 30px;
	text-align: center;
	color: #e4d184;
	margin:0px;
}
/*+++++++++++Volumen+++++++++++++++*/
input[type=range]{
    -webkit-appearance: none;
    width: 50%;
    height: 40px;
    border-radius: 50px;
    background-color: white;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100% !important;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 60px;
}

input[type=range]::-webkit-slider-thumb {
	margin-top: -15px;
  width:45px;
  height: 45px;
  border-radius: 50px;
  background: #2B2B2B;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: pink;
}
input[type=range]::-moz-range-track {
    width: 100% !important;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 60px;
}
input[type=range]::-moz-range-thumb {
 margin-top: -15px;
  width:35px;
  height: 35px;
  border-radius: 50px;
  background: #2B2B2B;
  cursor: pointer;
  -webkit-appearance: none;
}
.barrafooter{
	width: 100%;
	height: 80px;
	background-color: #30302f;
	position: fixed;
	bottom: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.barrafooter div  img{
height: 25px;
}
.franjaBuscador{
 	display: none;
 	width: 300px;
 	height: 50px;
 	background-color: rgba(255,255,255,1);
 	position: fixed;
 	bottom: 110px;
 	right: 60px;
 	padding: 0 20px;
 	font-size: 16px;
 }
}









@media screen and (min-width: 1080px){
	@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
	background: linear-gradient(to right, #6c5ce7 , #e84393);
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	width: 50%;
	margin: 15px auto;
	padding: 20px;
	text-align: center;
	min-height: 50vh;
}
#playList{
	background-color: green;
	border-radius: 10px;
	text-align: left;
	opacity: 0.8;
	color: #e84393;
	
}
 li{
	padding: 10px;
}
li:hover, svg:hover {
	cursor: pointer;
	color: black;
}
li.active{
	color: white;
}
#controls{
	border: 1px #eee solid;
	border-radius: 10px;
	padding: 10px;
	background: white;
	opacity: 0.8
}

svg{
	color: white;
}

progress{
	width: 80%;
	margin: 10px;
	opacity: 0.5;

}

.timer{
	width:50%;
	position: relative;
	top:10px;
	left:0px;
	text-align:left;
	float:left;
	color: white;
}
.volumen{
	width:100%;
	height: 40px;
	background-color: pink;
	position: relative;
	top:10px;
	right:0px;
	text-align:right;
	float:left;
	color: white;
	margin-bottom:20px;
}
#currentPlay{
	color: white;
}
h3{
	margin-top: 30px;
	text-align: center;
	color: #2B2B2B;
	margin:0px;
}

}