*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Rubik', sans-serif;*/
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
	color:black;
	text-transform: uppercase;
} 
li{
	list-style-type: none;
}
#numper{
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 25px;
	color: black;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;

}
